body {    
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h3, p    {
    padding: 0;
    margin: 0;
}

.header, .footer, .banner {
    margin: 0;
    padding: 16px 0;
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    margin: 0 150px;
}

.header ul {
    list-style-type: none;
    margin: 0px 150px;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
}

.banner {
    padding: 28px 150px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.banner h3 {
    font-size: 36px;
}

.banner-content, .banner-img {
    height: 300px;
    max-width: 50%;
    padding-bottom: 48px; 
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    gap: 16px;
}

.banner-img img {
    max-width: 100%;
}

button {
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    color: #f9faf8;
    background-color: #3882f6;
}

.info-section h3 {
    text-align: center;
    font-size: 24px;
    padding: 36px;

}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.card-img {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 8px solid #1f2937;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24px;
    font-style: italic;
    padding: 100px 150px;
}

.quote-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 66vw;
}

.quote-author {
    text-align: right;
    font-weight: bold;
}

.cta-container {
    display: flex;
    justify-content: center;
}

.cta-banner {
    color: #e5e7eb;
    background: #3882f6;
    border-radius: 16px;
    padding: 0 150px;
    margin: 100px 150px;
    
    display: flex;
}

.cta-banner button {
    border: 2px solid #efefef;
}


.footer {
    text-align: end;
}